:root {
    --circleSize : 15px;
    --colorCircle : #5cd15c;
}

.greenCircle {
    height:var(--circleSize);
    width: var(--circleSize);
    background:var(--colorCircle);
    border-radius:var(--circleSize);
    margin-right: 5px;
}
