#descriptif-personnalise a {
    font-weight: 600;
    text-decoration: underline;
    margin-left: 1rem;
}

.form-horizontal .control-group {
    margin-bottom: 25px;
}

.addRow {
    display: block;
    margin: auto;
}