.tableInput {
    display: flex;
    flex-wrap: wrap;
}

.colTableInput {
    width: auto;
    display: flex;
    flex-flow: column;
    margin: auto 1em;
}

.colTableInput:first-child {
    margin-left: 0;
}

.colDate {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
}

.colDate input,
.colDate button {
    width: 100%;
    box-sizing: border-box; 
}

.colDate input {
    margin-bottom: 5px; 
}


