.tableInput {
    display: flex;
    flex-wrap: wrap;
}

.colTableInput {
    width: auto;
    display: flex;
    flex-flow: column;
    margin: auto 1em;
}

.colTableInput:first-child {
    margin-left: 0;
}