.tableInput {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.colTableInput {
    width: auto;
    display: flex;
    flex-flow: column;
}

.colDate {
    display: flex;
    gap: .5rem;
}

.colTableInput .colDate,
td .colDate {
    flex-direction: column;
}

.colTableInput .colDate input,
td .colDate input {
    width: auto;
}
