###> Config IDE ###
.idea
.vscode
###< Config IDE ###


.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
vendor
*.mwb.*
/nbproject
*.phar
/public/ign/*
/public/data/uploads/commission
HashedFileDataStore.php
.php-cs-fixer.cache
phpstan.neon
tests/coverage/*
node_modules/
cypress/screenshots/
