form #save-element {
    margin: 0;
}

label.optional {
    margin-bottom: 0;
    vertical-align: middle;
}

div[id^='saved-rubriques-'] a {
    display: block;
}

.infos-rubrique {
	border: 1px dotted #818183;
	padding: 20px 20px 20px 20px;
	margin-bottom: 20px;
}